/* React-slick styles */
.slick-track {
	/* fix double cards (last underneath first) */
	display: flex;
}

.slick-slide {
	background-color: var(--anti-flash-white);
	transition: 0.2s;
	/* margin: 0 10px; */
}
.slick-current {
	background-color: #fff;
	transition: 0.2s;
	box-shadow: 0 4px 10px 0 rgba(59, 38, 94, 0.2);
	z-index: 2;
}

.slick-list {
	overflow: visible;
}

.center .slick-center {
	transform: scale(1.05);
}

// textarea {
//   width: 90%;
//   padding: 1rem;
//   margin: 0 5%;
//   resize: none;
// }
